.DS_Store
NetVLADApproach/.DS_Store
NetVLADApproach/airi_dataset
NetVLADApproach/airi_dataset.zip
NetVLADApproach/indoor
NetVLADApproach/indoor_processed
NetVLADApproach/indoor_SiriusPlace[NotSplitted]
NetVLADApproach/Sejong
NetVLADApproach/Sejong.tgz
NetVLADApproach/*.zip
NetVLADApproach/.ipynb_checkpoints/
NetVLADApproach/raw_data/
NetVLADApproach/reduced_data/
